<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/handle" method="post">
    <p><label>用户名：</label><input type="text" name="name"></p>
    <p><label>密  码：</label><input type="password" name="password"></p>
    <p><input type="submit" value="登录"></p>
</form>

</body>
</html>